# Flutter-related
**/Flutter/ephemeral/
**/Flutter/GeneratedPluginRegistrant.swift
**/Flutter/Flutter-Generated.xcconfig
**/Flutter/flutter_export_environment.sh
.flutter-plugins
.flutter-plugins-dependencies

# CocoaPods
**/Pods/
Podfile.lock

# Xcode-related
**/dgph
**/xcuserdata/
xcuserdata/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build generated
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# AppCode
.idea/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
